<h1>Brands</h1>
<div class="row">
  <% @brands.each do |brand|%>
      <div class="col-sm-6 col-md-4 col-lg-3 set_border">
        <% if brand.image.present? %>
          <%# Important syntax on how to apply a class to an image tag helper in rails %>
          <%# The class full simply sets img width to 100% of the column so it will fill it based on size of the
          screen and grid. %>
          <%= image_tag(brand.image, alt: brand.name,:class => "full")%>
        <% end %>
        <p class="center_text heavy"><%= link_to brand.name, brand%></p>
      </div>
  <% end %>
</div>
