<h1>Categories</h1>
<div class="row">
  <% @categories.each do |category|%>
      <div class="col-sm-6 col-md-4 col-lg-3 set_border">
        <p class="center_text heavy"><%= link_to category.name, category%></p>
      </div>
  <% end %>
</div>
